<main>
  <section class="about-us">
    <div class="slide-down">
      <h1>About me</h1>
      <p>I'm a passionate developer with a love for creating innovative solutions that enhance 
        everyday life. My journey in technology began at a young age, and I've been dedicated 
        to honing my skills ever since.</p>
    </div>
    <div class="slide-up">
      <h2>Story</h2>
      <p>Born in 1996, in Colombia, I developed a fascination for technology early on. My journey began with tinkering on computers and gradually 
        evolved into a passion for software development. Even though I possess a Bachelor in mechatronics engineering, I have always been drawn to the world of software and its endless possibilities.
        I started my journey as a developer with the C# programming language, crossing paths with web development and various programming languages along the way.</p>
    </div>
    <div class="slide-right">
      <h2>My Mission</h2>
      <p>My mission is to create software solutions that not only meet the needs of 
        users but also inspire and empower them. I believe in the transformative 
        power of technology and strive to make a positive impact through my work.</p>
    </div>
    <h2>Meet me beyond the computers</h2>
    <div class="team-members">
      <div class="team-member slide-right">
        <img src="/images/me1.png" alt="John Doe" />
        <h3>Skiing</h3>
        <p>Barrie Ontario</p>
      </div>
      <div class="team-member slide-down">
        <img src="/images/me2.png" alt="Jane Smith" />
        <h3>Beach time</h3>
        <p>Tiny Ontario</p>
      </div>
      <div class="team-member slide-down">
        <img src="/images/me3.png" alt="Robert Brown" />
        <h3>Fire wood time</h3>
        <p>Somewhere in Ontario</p>
      </div>
    </div>
  </section>
</main>