<main>
    <title>{{title}}</title>
        <section class="contact-us">
            <h1>Contact Us</h1>
            <p>If you have any questions, concerns, or feedback, feel free to reach out to us using the contact form below. We would love to hear from you!</p>
            <form action="#" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" required>
                
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="6" required></textarea>
                
                <button type="submit">Send Message</button>
            </form>
        </section>
    </main>
    <footer class="contact-foot">
        <div class="slide-up">
            <!-- logo -->
            <div>
                <a href="/home"><img src="/images/android-chrome-192x192.png" alt="footer logo"></a>
            </div>
            <!-- social icons -->
            <div>
                <ul>
                    <li><a href="https://www.linkedin.com/in/felipe-alfonso" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/Pipetr" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="mailto:faaa1901@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </div>
            <p>&copy; 2024 TimeMaster Pro. All rights reserved.</p>
        </div>
    </footer>