<main>
    <title>{{title}}</title>
        <h1>Some projects</h1>
        <section class="product-list">
            <div class="product-item slide-down">
                <a href="product1.html">
                    <img src="/images/sport-edition-main.png" alt="TimeMaster Pro - Sport Edition">
                    <h2>Sport Edition</h2>
                </a>
            </div>
            <div class="product-item slide-up">
                <a href="product2.html">
                    <img src="/images/classic-edition-main.png" alt="TimeMaster Pro - Classic Edition">
                    <h2>Classic Edition</h2>
                </a>
            </div>
            <div class="product-item slide-right">
                <a href="product3.html">
                    <img src="/images/luxury-edition-main.png" alt="TimeMaster Pro - Luxury Edition">
                    <h2>Luxury Edition</h2>
                </a>
            </div>
        </section>
    </main>