<main>
    <title>{{title}}</title>
        <h1>Some projects</h1>
        <section class="product-list">
            <div class="product-item slide-down">
                <a href="https://repository.unipiloto.edu.co/bitstream/handle/20.500.12277/5462/PG-17-2-17%20OK.pdf?isAllowed=y&sequence=1" target="_blank">
                    <img src="/images/cocktail_machine.png">
                    <h2>Bachelor's Thesis Project</h2>
                    <p>A smart cocktail machine that mixes drinks based on user preferences.</p>
                    <p>The project's main goal was to create an interactive and user-friendly device that enhances the cocktail-making experience.</p>
                    <p>The machine uses a combination of sensors and AI algorithms to learn user preferences and suggest personalized drink recipes.</p>
                    <p><a href="https://repository.unipiloto.edu.co/bitstream/handle/20.500.12277/5462/PG-17-2-17%20OK.pdf?isAllowed=y&sequence=1" target="_blank">View Project</a></p>

                </a>
            </div>
            <div class="product-item slide-up">
                <a href="product2.html">
                    <img src="/images/nintendo_vault.png" >
                    <h2>Nintendo vault website</h2>
                    <p>A nostalgic collection of classic Nintendo games, reimagined for modern devices.</p>
                    <p>This project showcases the timeless appeal of classic gaming, bringing back beloved titles with enhanced graphics and gameplay.</p>
                    <p>The website features a sleek design and intuitive navigation, making it easy for users to explore the collection and relive their favorite gaming moments.</p>
                    <p><a href="https://comp1002-finalproject.onrender.com" target="_blank">View Project</a></p>
                </a>
            </div>
            <div class="product-item slide-right">
                <a href="product3.html">
                    <img src="/images/hangman.png">
                    <h2>Arduino Hangman Game</h2>
                    <p>An interactive hangman game built with Arduino, combining fun and learning.</p>
                    <p>This project demonstrates the versatility of Arduino in creating engaging and educational games.</p>
                    <p>The hangman game features a simple yet effective design, allowing players to test their word-guessing skills while enjoying a classic game.</p>
                    <p><a href="https://www.tinkercad.com/things/34wMVVuLkvt-final-project" target="_blank">View Project</a></p>
            </div>
        </section>
    </main>