<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- add fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Signika+Negative:wght@300..700&display=swap"
        rel="stylesheet">
    <!-- add icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    {{!-- <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png"> --}}
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!-- add jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    {{> header}}
    {{{body}}}    
    {{#unless isContactPage}}
      {{> footer}}
    {{/unless}}
  </body>
</html>
